@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: "Satoshi";
      src: url("./Fonts/Satoshi-Regular.otf")
    }
    @font-face {
      font-family: "Satoshi-bold";
      src: url("./Fonts/Satoshi-Bold.otf");
    }
  }


body{
    font-family: Satoshi;
    margin:0;
    padding:0;
}

table{
  border-collapse: collapse;
}
td, th{
  border-bottom: 1px solid black;
  padding:10px 0;
}

::webkit-scrollbar{
  width: 4px;
}